<!DOCTYPE html>
<section class="card p-4">
  <div class="card-body p-4">
    <h1>Acerca De</h1>
    <p>
      Soy un Programdor el cual vio una nesesidad de las personas la cual es tener recuerdos los cuales seria mejor si lo gravaraan en fotografias las cuales sus mismos compañeros despues puedan comentarlas darles me gusta ver el perfil de esa persona pues a nuestra comunidad siempre le va gustar tener recuerdos
    </p>
  </div>
</section>


